.delete,
.add-new,
.submit,
.edit {
  font-weight: bold;
  font-size: inherit;
  color: #fff;
  padding: 3px 5px;
  border-radius: 3px;
}

.delete {
  background-color: #b91c1c;
}

.add-new {
  background-color: #1d4ed8;
}

.submit {
  width: 100%;
  background-color: #047857;
}

.edit {
  width: 100%;
  background-color: #111827;
}
